Flask
Flask-SQLAlchemy
RPi.GPIO
rpi_ws281x
rpi5_ws2812
pyyaml
pymodbus
matplotlib>=3.8
websockets==13.0
pandas-stubs
pandas
numpy
opencv-python
imutils
picamera2
spidev
adafruit-circuitpython-motor
adafruit-circuitpython-pca9685
adafruit-circuitpython-ads7830
Adafruit-Blinka
adafruit-circuitpython-register
adafruit-circuitpython-busdevice
